<div class="backdropEvent {{!-- is-hidden --}}" data-modal_product>
    <div class="modal-event-card" id="modal_product" data-product>
        <div class="event_content_icon">
            <img class="icon_img" src="{{imageUrl}}" alt="{{name}}">
            
        </div>

        <div class="allinfo_about_event">
            {{!-- <div class="main_img_conteiner">
                <img class="main-img" src="{{imageUrl}}" alt="{{name}}">
            </div> --}}

            <div class="description_event">
                <div class="event_info">
                    <h2 class="event_info_title">INFO</h2>
                    <p class="event_info_text">{{description}}Atlas Weekend is the largest music festival in Ukraine. More than 200 artists will create a proper music festival
                    atmosphere on 10 stages</p>
                </div>
                <div class="event_date">
                    <h2 class="event_date_title">WHEN</h2>
                    <p class="event_date_text">{{description}}2021-06-09 20:00 (Kyiv/Ukraine)</p>
                </div>
                <div class="event_place">
                    <h2 class="event_place_title">WHERE</h2>
                    <p class="event_place_text">{{description}}Kyiv, Ukraine VDNH</p>
                </div>
                <div class="event_headliner">
                    <h2 class="event_headliner_title">WHO</h2>
                    <p class="event_headliner_text">{{description}}The Black Eyed Peas</p>
                </div>
                <div class="event_price">
                    <h2 class="event_price_title">PRICES</h2>
                    <div class="event_price_container">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 45 32">
                            <title>ticket1</title>
                            <path d="M5.020 1.569h-5.020v30.118h5.020v-30.118z"></path>
                            <path d="M17.645 1.569h-5.020v30.118h5.020v-30.118z"></path>
                            <path d="M25.25 1.569h-5.019v30.118h5.019v-30.118z"></path>
                            <path d="M45.176 1.569h-7.453v30.118h7.453v-30.118z"></path>
                            <path d="M10.039 1.569h-2.434v30.118h2.434v-30.118z"></path>
                            <path d="M30.118 1.569h-2.434v30.118h2.434v-30.118z"></path>
                            <path d="M35.137 1.569h-2.434v30.118h2.434v-30.118z"></path>
                        </svg>
                        <p class="event_price_text">{{description}}Standart 300-500 UAH</p>
                    </div>
                    <a href=""><span class="buy_tickets">BUY TICKETS</span></a>
                    <div class="event_price_container">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 45 32">
                            <title>ticket1</title>
                            <path d="M5.020 1.569h-5.020v30.118h5.020v-30.118z"></path>
                            <path d="M17.645 1.569h-5.020v30.118h5.020v-30.118z"></path>
                            <path d="M25.25 1.569h-5.019v30.118h5.019v-30.118z"></path>
                            <path d="M45.176 1.569h-7.453v30.118h7.453v-30.118z"></path>
                            <path d="M10.039 1.569h-2.434v30.118h2.434v-30.118z"></path>
                            <path d="M30.118 1.569h-2.434v30.118h2.434v-30.118z"></path>
                            <path d="M35.137 1.569h-2.434v30.118h2.434v-30.118z"></path>
                        </svg>
                        <p class="event_price_text">{{description}}VIP 1000-1500 UAH</p>
                        <a href=""><span class="buy_tickets">BUY TICKETS</span></a>
                    </div>
                    <a href=""><span class="buy_tickets">MORE FROM THIS AUTHOR</span></a>
                    
                </div>
            </div>

            <button class="close_modal_event" id="close_modal_event" data-modal-close>
                <svg width="17" height="17" viewBox="0 0 24 24" fill="4C00FE" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
                        fill="#4C00FE" />
                </svg></button>
        </div>
    </div>